<mat-grid-list cols="12" rowHeight="4:1">
    <mat-grid-tile colspan="3" rowspan="2">
        <h1 class="title">Social<span class="network">Network</span></h1>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="2">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Find..">
            <mat-icon class="search-icon" matSuffix>search</mat-icon>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
        <button class="upload-button" mat-stroked-button>
            <mat-icon>arrow_upward</mat-icon>
            Upload
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <button class="person">
            <mat-icon>person</mat-icon>
        </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <p class="firstname">Waseem</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <p class="lastname">Arshad</p>
    </mat-grid-tile>
</mat-grid-list>

<mat-list>
    <mat-divider></mat-divider>
    <mat-list-item>
        <div>
            <span><a href="#">Videos</a></span>
            <span class="sparator">/</span>
            <span><a href="#">People</a></span>
            <span class="sparator">/</span>
            <span><a href="#">Document</a></span>
            <span class="sparator">/</span>
            <span><a href="#">Events</a></span>
            <span class="sparator">/</span>
            <span><a href="#">Communities</a></span>
            <span class="sparator">/</span>
            <span><a href="#">Favorites</a></span>
            <span class="sparator">/</span>
            <span><a href="#">Channels</a></span>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>