<mat-grid-list cols="12">
    <mat-grid-tile class="parent" colspan="7" rowspan="6">
        <div class='internalMatGrid'>
            <mat-grid-list cols="12">
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title large">Videos</span>
                </mat-grid-tile>
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title small">Browse all videos</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="8" rowspan="6">
                    <div class="video">
                        <p class="judul">How to improve your skills</p>
                        <p class="author">Waseem Arshad<span class="views">187887 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">Michael Keliph<span class="views">15454 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">Ahmed Yasin<span class="views">1984 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">John Stainor<span class="views">2554 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">John Doe<span class="views">2554 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="upload-video">
                        <mat-grid-list cols="3">
                            <mat-grid-tile colspan="1" rowspan="2">
                                <mat-icon>arrow_circle_up</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="upload">Upload</p>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="your">Your Own Video</p>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="parent" colspan="5" rowspan="6">
        <div class="activity">
            <div class="activity-header">
                <p>
                    <span class="large">Activity</span>
                    <span class="small">View timeline / Filter activities</span>
                </p>
            </div>
            <div class="activity-body">
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
                <div class="activity-content" style="height: calc(100%/6.5); margin-bottom: 1%; display: flex;">
                    <div class="image" style="background-color: #f2ecbe; height: 100%; width: 17%;"></div>
                    <div class="activity-detail" style="width: 82%;">
                        <p style="margin: 3px 5px;">John Stainor <span style="font-size: 10px;">commented</span></p>
                        <p style="margin: 3px 5px; font-size: 12px;">"How to become an expert"</p>
                        <p style="margin: 3px 5px; font-size: 12px;"><mat-icon
                                style="font-size: 16px; height: fit-content;">message</mat-icon><span>2 seconds
                                ago</span></p>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="parent" colspan="7" rowspan="6">
        <div class='internalMatGrid'>
            <mat-grid-list cols="12">
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title large">People</span>
                </mat-grid-tile>
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title small">View all</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="8" rowspan="6">
                    <div class="video">
                        <p class="judul">Waseem Arshad</p>
                        <p class="author">User interface designer<span class="views">187887 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">Michael Keliph<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">Ahmed Yasin<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">John Stainor<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="author">John Doe<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="upload-video">
                        <mat-grid-list cols="3">
                            <mat-grid-tile colspan="1" rowspan="2">
                                <mat-icon>adjust</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="upload">Show</p>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="your">Your Work</p>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="parent" colspan="5" rowspan="8">
        <div class="channel">
            <div class="channel-header">
                <p>
                    <span class="large">Channel</span>
                    <span class="small">Browse all channels</span>
                </p>
            </div>
            <div class="channel-body">
                <div style="width: 100%; height: calc(100% / 5.7); display: flex; justify-content: space-between; margin: 3% 0px;">
                    <div style="background: #f2ecbe; height: 100%; width: 49%; padding-top: auto; padding-bottom: 0px;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Google</p>
                    </div>
                    <div style="background: #f2ecbe; height: 100%; width: 49%;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Dribble</p>
                    </div>
                </div>
                <div style="width: 100%; height: calc(100% / 5.7); display: flex; justify-content: space-between; margin: 3% 0px;">
                    <div style="background: #f2ecbe; height: 100%; width: 49%; padding-top: auto; padding-bottom: 0px;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Microsoft</p>
                    </div>
                    <div style="background: #f2ecbe; height: 100%; width: 49%;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Behance</p>
                    </div>
                </div>
                <div style="width: 100%; height: calc(100% / 5.7); display: flex; justify-content: space-between; margin: 3% 0px;">
                    <div style="background: #f2ecbe; height: 100%; width: 49%; padding-top: auto; padding-bottom: 0px;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Weather Channel</p>
                    </div>
                    <div style="background: #f2ecbe; height: 100%; width: 49%;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Gurus</p>
                    </div>
                </div>
                <div style="width: 100%; height: calc(100% / 5.7); display: flex; justify-content: space-between; margin: 3% 0px;">
                    <div style="background: #f2ecbe; height: 100%; width: 49%; padding-top: auto; padding-bottom: 0px;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">iMedia</p>
                    </div>
                    <div style="background: #f2ecbe; height: 100%; width: 49%;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Creativeye</p>
                    </div>
                </div>
                <div style="width: 100%; height: calc(100% / 5.7); display: flex; justify-content: space-between; margin: 3% 0px;">
                    <div style="background: #f2ecbe; height: 100%; width: 49%; padding-top: auto; padding-bottom: 0px;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Khan Studios</p>
                    </div>
                    <div style="background: #f2ecbe; height: 100%; width: 49%;">
                        <p style="color: #9A3B3B; margin-top: 43%; padding-left: 3%;">Yahoo</p>
                    </div>
                </div>
                <hr color="#f2ecbe" size="2px">
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class="parent" colspan="7" rowspan="6">
        <div class='internalMatGrid'>
            <mat-grid-list cols="12">
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title large">Documents</span>
                </mat-grid-tile>
                <mat-grid-tile class="transparent" colspan="6" rowspan="1">
                    <span class="title small">Browse all documents</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="8" rowspan="6">
                    <div class="video">
                        <p class="judul">Mobile ui & ux guid 2013</p>
                        <p class="author">By William Makhoja<span class="views">187887 views</span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="judul">HTML 5 and usage</p>
                        <p class="author">15454 views<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="judul">How to become an expert?</p>
                        <p class="author">1984 views<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="judul">2013 Marketing trends</p>
                        <p class="author">2554 views<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="video">
                        <p class="judul">2013 Marketing trends</p>
                        <p class="author">2554 views<span class="views"></span></p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="4" rowspan="3">
                    <div class="upload-video">
                        <mat-grid-list cols="3">
                            <mat-grid-tile colspan="1" rowspan="2">
                                <mat-icon>arrow_circle_up</mat-icon>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="upload">Upload</p>
                            </mat-grid-tile>
                            <mat-grid-tile colspan="2" rowspan="1">
                                <p class="your">Your Own Video</p>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>